[Unit]
Description=CarbonTracker Celery Worker
After=network-online.target
Wants=network-online.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/opt/carbon-tracker

Environment=PYTHONPATH=/opt/carbon-tracker/app.py
Environment=AWS_DEFAULT_REGION=us-east-1

# Celery command
ExecStart=/opt/carbon-tracker/.venv/bin/celery --app=celery_app:celery worker --queues=carbon-jobs --loglevel=info

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target